@import '../../components/variables.css';

.root .header {
  padding: 50px 0 100px 0;
}
.root .main {
  display: flex;
  top: 202px;
  height: auto;
  min-height: calc(100% - 326px);
  align-items: center;
}
.answers_container {
  width: 100%;
}

@media (--medium-viewport) {
  .root .header {
    padding: 20px 0 100px 0;
  }
  .root .main {
    top: 153px;
    min-height: calc(100% - 219px);
  }
  .header h1 {
    font-size: var(--font-size-heading-smaller);
  }
}

@media (--small-viewport) {
  .root .header {
    padding: 15px 0 60px 0;
  }
  .root .main {
    top: 108px;
    min-height: calc(100% - 168px);
  }
}