:global {
  @import 'slick-carousel/slick/slick.css';
  @import 'slick-carousel/slick/slick-theme.css';
}
@import '../variables.css';

.arrow {
  position: absolute;
  width: 20px;
  height: 40px;
  line-height: 40px;
  top: 50%;
  transform: translate(0, -50%);  
  cursor: pointer;
  color: var(--font-color-normal);
  background-color: var(--background-color-blue);
  z-index: 1;
}
.arrow.disabled {
  opacity: .25;
}
.arrow:before {
  content: none;
}
.arrow_next {
  right: 0px;
  border-radius: 40px 0 0 40px;
}
.arrow_prev {
  left: 0px;
  border-radius: 0 40px 40px 0;
}
.arrow_prev .icon {
  margin-left: -5px;
}
.icon {
  font-size: var(--font-size-content-medium);
}
.image_container {
  margin: 2px;
}
.image {
  width: 100%;
  height: 0px;
  padding-bottom: 100%;
  border-radius: 3px;
  background-color: var(--background-color-normal);
  background-size: cover;
}