/*
 * Base styles
 * ========================================================================== */

body {
  font-family: var(--font-family-base);
}
input {
  border-radius: 10px;
  border: none;
  line-height: 1em;
}
input:focus {
  outline: none;
}
h1, h2, h3 {
  margin: 15px 0 15px 0;
  text-align: center;
  color: var(--font-color-normal);
  font-family: var(--font-family-base);
  letter-spacing: var(--leter-spacing-normal);  
}
a {
  text-decoration: none;
  color: var(--font-color-normal);
}
a:hover {
  text-decoration: none;
  color: var(--font-color-link-hover);
  outline: none;
}
a:focus {
  text-decoration: none;
  outline: none;
  color: var(--font-color-normal);
}
.full-width {
  width: 100%;
}
.allow_smallcap {
  font-variant: small-caps;
}
.has-background {
  background-size: cover;
}

/*
 * Header
 * ========================================================================== */

.header {
  padding: 50px 0 50px 0;
  font-weight: normal;
}
.header.fixed {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: var(--top-layer);
}
.header.has-background.background-normal {
  background-image: var(--background-color-body), url('../../public/background-header.png');
}
.header.has-background.background-thin {
  padding: 30px 0 30px 0;
  background-image: var(--background-color-body), url('../../public/background-header-thin.png');
}
.mobile .header.has-background {
  background-image: var(--background-color-body), url('../../public/background-header-mobile.png');
}
.header h1 {
  margin: 0px;
  letter-spacing: normal;
  font-size: var(--font-size-heading-large);
}

@media (--medium-viewport) {
  .header h1 {
    font-size: var(--font-size-heading-medium);
  }
}

@media (--small-viewport) {
  .header {
    padding: 30px 0 30px 0;
  }
  .header h1 {
    font-size: var(--font-size-heading-smaller);
  }
}

/*
 * Main
 * ========================================================================== */
.main.full {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main.has-background.background-image {
  background-image: var(--background-color-body), url('../../public/background-main.png');
}
.main.has-background.background-orange {
  background-color: var(--background-color-content);
}
.main.full .container {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  width: 100%;
  padding: 0px;
}


/*
 * Footer
 * ========================================================================== */

.footer {
  padding: 30px;
}
.footer.fixed {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: var(--top-layer);
}
.footer.has-background.background-image {
  background-image: var(--background-color-body), url('../../public/background-footer.png');
}
.footer.has-background.background-normal {
  background-color: var(--background-color-tangerine);
}

@media (--medium-viewport) {
  .footer {
    padding: 10px;
  }
}

/*
 * Google Map
 * ========================================================================== */
.geosuggest__suggests-wrapper ul {  
  position: absolute;
  width: 100%;
  margin-bottom: 0px;
  font-size: var(--font-size-input-large);
  list-style: none;
  border-radius: 5px;
  background-color: var(--background-color-normal);
}
.geosuggest__suggests--hidden {
  display: none;
}

@media (--medium-viewport) {
  .geosuggest__suggests-wrapper ul {
    font-size: var(--font-size-button-smaller);
    padding-left: 15px;
  }
}

/*
 * Button styles
 * ========================================================================== */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  border-radius: 10px;
  box-shadow: 0 0 3px 3px var(--background-color-shadow);
}
.btn-primary {
  padding: 15px 25px;
  font-size: var(--font-size-button-larger);
  color: var(--font-color-normal);  
  background-color: var(--background-color-tangerine-button);
  border-color: var(--background-color-tangerine-button);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus {
  color: var(--font-color-normal);
  border-color: var(--background-color-tangerine-button);
  background-color: var(--background-color-tangerine-button);
}
.btn-primary .icon {
  margin-left: 10px;
}
.btn-grey {
  padding: 5px 10px;
  font-size: var(--font-size-button-larger);
  color: var(--font-color-secondary);
  background-color: var(--background-color-button);
  border-color: var(--background-color-button);
}
.btn-grey:hover, .btn-grey:focus, .btn-grey:active, .btn-grey:active:hover, .btn-grey:active:focus {
  color: var(--font-color-secondary);
  background-color: var(--background-color-normal);
  border-color: var(--background-color-normal);
}
.btn-transparent {
  padding: 10px;
  margin-bottom: 20px;
  border: solid thin;
  border-radius: 0px;
  box-shadow: none;
}
.btn-transparent:hover {
  color: var(--font-color-link-hover);
  border-color: var(--border-color-normal);
  background-color: var(--background-color-normal);
}

@media (--medium-viewport) {
  .btn-primary {
    font-size: var(--font-size-button-medium);
    padding: 10px;
  }
  .btn-grey {
    font-size: var(--font-size-button-smaller);
    padding: 0 4px;
  }
}

@media (--small-viewport) {
  .btn-primary {
    font-size: var(--font-size-button-small);
  }
}

/*
 * Input box
 * ========================================================================== */

.input-normal {
  font-size: var (--font-size-input-medium);
}
.input-search {
  padding: 4px 15px;
  text-indent: 30px;
  font-size: var(--font-size-input-large);
}
.input-search:focus::-webkit-input-placeholder  {
  color: transparent;
}
.mobile .input-search {
  text-indent: 5px;
}
.input-search-wrapper {
  position: relative;
}
.input-search-wrapper .search_icon {
  position: absolute;
  top: 3px;
  left: 7px;
  font-size: var(--font-size-input-large);
}
.input-transparent {
  margin: 0 0 10px 0;
  padding: 10px;
  color: var(--font-color-normal);
  border: none;
  border-radius: 0px;
  border-bottom: solid 2px var(--border-color-normal);
  transition: border 0.3s;
  background-color: transparent;
}

@media (--medium-viewport) {
  .input-search {
    font-size: var(--font-size-button-smaller);
    padding: 10px;
    text-indent: 15px;
  }
  .input-search-wrapper .search_icon {
    top: 10px;
    font-size: var(--font-size-button-smaller);
  }
}

/*
 * Form
 * ========================================================================== */
.form-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background: var(--background-color-card);
}


/*
 * Icons
 * ========================================================================== */
.material-icon {
  text-rendering: optimizeLegibility;
  font-family: 'Material Icons';
  font-style: normal;
}
.material-icon.stroke {
  -webkit-text-stroke: 1px var(--font-color-normal);
  -webkit-text-fill-color: transparent;
}

/*
 * Answer element
 * ========================================================================== */
.answers-container {
  display: flex;
  flex-wrap: wrap;
}
.answer-item {
  position: relative;
}
.answer-item:before, .answer-item:after {
  z-index: 1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  box-shadow: 0 15px 10px var(--background-color-card);
  transform: rotate(-3deg);
}
.answer-item:after {
  right: 10px;
  transform: rotate(3deg);
  left: auto;
}
.answer-item:hover {
  color: var(--font-color-normal);
}
.answer-item img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.answer-item .description {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  display: inline-block;
  width: 100%;
  font-size: var(--font-size-content-large);
  background-color: var(--background-color-caption);
  z-index: 2;
}

@media (--medium-viewport) {
  .answer-item .description {
    font-size: var(--font-size-content-medium);
  }
}

@media (--small-viewport) {
  .answer-item .description {
    font-size: var(--font-size-content-small);
  }
}