@import '../variables.css';

.answer_item{
  width: 23%;
  margin: 20px 1%;
  height: 0px;
  padding-bottom: 23%;
}

.no_answer {
  background-color: var(--background-color-caption);
}

.no_answer span{
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent!important;
}

@media (--medium-viewport) {
  .header h1 {
    font-size: var(--font-size-heading-medium);
  }
}

@media (--small-viewport) {
  .answer_item {
    margin: 5px 1%;
  }
}

@media (--smallest-viewport) {
  .answer_item {
    width: 48%;
    padding-bottom: 48%;
  }
}