@import '../../components/variables.css';

:global {
  .notification-container {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    width: 320px;
    padding: 0 15px;
    max-height: calc(100% - 30px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .notification {
    box-sizing: border-box;
    padding: 15px 15px 15px 58px;
    border-radius: 2px;
    color: #fff;
    background-color: #ccc;
    box-shadow: 0 0 12px #999;
    cursor: pointer;
    font-size: 1em;
    line-height: 1.2em;
    position: relative;
    opacity: 0.9;
    margin-top: 15px;
  }

  .notification .title {
    font-size: 1em;
    line-height: 1.2em;
    font-weight: bold;
    margin: 0 0 5px 0;
  }

  .notification:hover, .notification:focus {
    opacity: 1;
  }

  .notification-enter {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }

  .notification-enter.notification-enter-active {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition: all 0.4s;
  }

  .notification-leave {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

  .notification-leave.notification-leave-active {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
    transition: all 0.4s;
  }

  .notification:before {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -14px;
    display: block;
    font-family: 'Notification';
    width: 28px;
    height: 28px;
    font-size: 28px;
    text-align: center;
    line-height: 28px;
  }

  .notification-info {
    background-color: #2f96b4;
  }

  .notification-info:before {
    content: "\f05a";
  }

  .notification-success {
    background-color: #51a351;
  }

  .notification-success:before {
    content: "\f058";
  }

  .notification-warning {
    background-color: #f89406;
  }

  .notification-warning:before {
    content: "\f06a";
  }

  .notification-error {
    background-color: #bd362f;
  }

  .notification-error:before {
    content: "\f057";
  }
}

.main {
  padding: 50px 0 0 0;
}
.main h1 {
  font-size: var(--font-size-heading-larger);
  margin: 100px 0 50px 0; 
}
.search_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  background-color: var(--background-color-tangerine);
  margin-bottom: 150px;
}
.input_wrapper {
  width: 50%;
  margin: 0 25px 0 0;
}
.btn img {
  height: var(--icon-size-medium);
  margin: 0 10px 0 0;
  margin-right: 10px;
}
.search_section .btn {
  margin: 0 25px 0 0;
}
.search_section .btn:last-child {
  margin: 0 0 0 25px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .btn {
  margin: 0 25px 0 25px;
}
.footer .btn:hover {
  font-weight: lighter;
  letter-spacing: -0.5px;
}

/*
 * Responsive
 * ======================================================================== */
@media (--medium-viewport) {
  .main {
    padding: 30px 0 0 0;
  }
  .main h1 {
    font-size: var(--font-size-heading-medium);
    margin: 40px 0 40px 0; 
  }
  .main h2 {
    font-size: var(--font-size-heading-smaller);
  }
  .search_section {
    margin-bottom: 60px;
  }
  .search_section .input_wrapper, .search_section .btn {
    margin: 0 10px 0 0;
  }
  .search_section .btn:last-child {
    margin: 0 0 0 10px;
  }
  .btn img {
    height: var(--icon-size-small);
    margin: 4px 4px 4px 0;
  }
  .footer {
    display: block;
    text-align: center;
  }
  .footer .btn {
    padding-right: 4px;
    margin: 10px 0 0 0;
  }
}

@media(--small-viewport) {
  .main h1 {
    font-size: var(--font-size-heading-small);
  }
  .main h2 {
    font-size: var(--font-size-heading-smallest);
  }
}


/*
 * Mobile
 * ======================================================================== */

.mobile .search_section {
  padding: 15px 5px 15px 5px;
}
.mobile .search_section {
    margin-bottom: 0px;
  }
.mobile .main .btn {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--font-size-button-small);
  z-index: var(--below-top-layer);
}
.mobile .footer .btn {
  margin: 0;
  padding: 5px;
  font-size: var(--font-size-button-small);
}
.mobile .footer .btn img {
  height: var(--font-size-button-small);
}
.mobile:not(.get_direction) .footer .btn {
  color: var(--font-color-secondary);
  background-color: var(--background-color-button);
  border-color: var(--background-color-button);
}