:global {
  @import 'react-select/dist/react-select.css';

  .Select-control {
    background-color: inherit;
    border: none;
  }

  .Select-multi-value-wrapper:focus {
    outline: none;
  }

  .Select-value-label {
    display: block;
    height: 32px;
  }

  .Select-value-label:focus{
    outline: none;
  }

  .is-open > .Select-control {
    background-color: inherit;
  }

  .Select-menu-outer {
    border-radius: 10px;
    left: 0px;
  }

  .Select-control:hover {
    box-shadow: none;
  }

  .Select-arrow-zone {
    display: none;
  }

  .Select-input {
    display: block!important;
    height: 0px;
  }

  .Select-placeholder, .Select--single > .Select-control .Select-value {
    position: relative;
    right: inherit;
    max-width: none;
  }
}

@import './variables.css';

.dropdown i, .dropdown p {
  text-align: center;
  font-style: normal;
  color: var(--font-color-secondary);
}

.dropdown i {
  font-family: 'Material Icons';
}

.dropdown p {
  margin-bottom: 0px;
}