.resp_sharing_button__link, .resp_sharing_button__icon {
  display: inline-block
}

.resp_sharing_button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp_sharing_button {
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp_sharing_button__icon svg {
  width: 1em;
  height: 1em
}

.resp_sharing_button span {
  padding-left: 0.4em
}

/* Non solid icons get a stroke */
.resp_sharing_button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp_sharing_button__icon__solid,
.resp_sharing_button__icon__solidcircle {
  fill: #fff;
  stroke: none
}

.resp_sharing_button__twitter {
  background-color: #55acee
}

.resp_sharing_button__twitter:hover {
  background-color: #2795e9
}

.resp_sharing_button__pinterest {
  background-color: #bd081c
}

.resp_sharing_button__pinterest:hover {
  background-color: #8c0615
}

.resp_sharing_button__facebook {
  background-color: #3b5998
}

.resp_sharing_button__facebook:hover {
  background-color: #2d4373
}

.resp_sharing_button__tumblr {
  background-color: #35465C
}

.resp_sharing_button__tumblr:hover {
  background-color: #222d3c
}

.resp_sharing_button__reddit {
  background-color: #5f99cf
}

.resp_sharing_button__reddit:hover {
  background-color: #3a80c1
}

.resp_sharing_button__google {
  background-color: #dd4b39
}

.resp_sharing_button__google:hover {
  background-color: #c23321
}

.resp_sharing_button__linkedin {
  background-color: #0077b5
}

.resp_sharing_button__linkedin:hover {
  background-color: #046293
}

.resp_sharing_button__email {
  background-color: #777
}

.resp_sharing_button__email:hover {
  background-color: #5e5e5e
}

.resp_sharing_button__xing {
  background-color: #1a7576
}

.resp_sharing_button__xing:hover {
  background-color: #114c4c
}

.resp_sharing_button__whatsapp {
  background-color: #25D366
}

.resp_sharing_button__whatsapp:hover {
  background-color: #1da851
}

.resp_sharing_button__facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp_sharing_button__facebook:hover,
.resp_sharing_button__facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp_sharing_button__twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp_sharing_button__twitter:hover,
.resp_sharing_button__twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp_sharing_button__google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp_sharing_button__google:hover,
.resp_sharing_button__google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.resp_sharing_button__tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp_sharing_button__tumblr:hover,
.resp_sharing_button__tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp_sharing_button__email {
  background-color: #777777;
  border-color: #777777;
}

.resp_sharing_button__email:hover,
.resp_sharing_button__email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}
