:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: Helvetica, Arial, sans-serif;
  --font-color-normal: #FFFFFF;
  --font-color-secondary: #000000;
  --font-color-link-hover: #000000;

  --font-size-heading-larger: 64px;
  --font-size-heading-large: 48px;
  --font-size-heading-medium: 42px;
  --font-size-heading-small: 36px;
  --font-size-heading-smaller: 30px;
  --font-size-heading-smallest: 24px;

  --font-size-content-larger: 36px;
  --font-size-content-large: 32px;
  --font-size-content-medium: 24px;
  --font-size-content-normal: 20px;
  --font-size-content-small: 18px;
  --font-size-content-smaller: 16px;


  --font-size-input-large: 32px;
  --font-size-input-medium: 24px;
  --font-size-input-small: 18px;

  --font-size-button-larger: 32px;
  --font-size-button-large: 30px;
  --font-size-button-medium: 24px;  
  --font-size-button-small: 18px;
  --font-size-button-smaller: 14px;

  --leter-spacing-normal: 1px;

  --icon-size-large: 70px;
  --icon-size-medium: 36px;
  --icon-size-small: 28px;

  /*
   * Border
   * ======================================================================== */
  --border-color-normal: #FFFFFF;

  /*
   * Background
   * ======================================================================== */
  --background-color-body: linear-gradient(rgba(201, 58, 39, 0.65), rgba(201, 58, 39, 0.65));
  --background-color-content: #F0D6AA;
  --background-color-guess: linear-gradient(rgba(179, 49, 34, 0), rgba(179, 49, 34, .65));
  --background-color-guess-continue: linear-gradient(rgba(170, 49, 34, .65), rgb(170, 49, 34));
  --background-color-normal: #FFFFFF;
  --background-color-yellow: #F0D6AA;
  --background-color-card: rgba(0, 0, 0, .6);
  --background-color-tangerine: rgba(201, 58, 39, 0.86);
  --background-color-tangerine-button: #C23826;
  --background-color-red: #FF2600;
  --background-color-white: rgba(255, 255, 255, .3);
  --background-color-orange: #F04F01;
  --background-color-blue: rgb(37, 78, 214);
  --background-color-shadow: rgba(0,0,0,.1);
  --background-color-caption: rgba(59, 59, 59, .75);
  --background-color-icon: #3A3A3A;
  --background-color-button: #EBEBEB;

  /*
   * Z-index
   * ======================================================================== */
  --loading-bar-color: rgb(84,240,84) 69%;

  /*
   * Z-index
   * ======================================================================== */
  --top-layer: 9999;
  --below-top-layer: 9998;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1000px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 480px;  /* Extra small screen / phone */
  --screen-sm-min: 768px;  /* Small screen / tablet */
  --screen-md-min: 992px;  /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */
}

@custom-media --smallest-viewport (max-width: 480px);
@custom-media --small-viewport (max-width: 768px);
@custom-media --medium-viewport (max-width: 992px);
@custom-media --large-viewport (max-width: 1200px);