@import '../../components/variables.css';

.root .main.full {
  display: flex;
  align-items: center;
  top: 204px;
  height: auto;
  min-height: calc(100% - 326px);
  padding-bottom: 124px;
}
.main .container {
  width: 100%;
  padding: 20px 0 10px 0;
  z-index: var(--top-layer);
}
.overlay_image {
  position: absolute;
  right: 0px;
  height: 100%;
}
.main .input_search {
  display: block;
  width: 40%;
  margin: 0 auto 20px auto;
  padding: 10px;
  text-indent: 0px;
  box-shadow: 0 0 3px 3px var(--background-color-shadow);
}
.main h1 {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-heading-large);
  color: var(--background-color-tangerine);
}
.main .btn, .main .btn:hover, .main .btn:focus {
  border-color: var(--background-color-red);
  background-color: var(--background-color-red);
}
.main .btn:hover {
  font-weight: 100;
  letter-spacing: -0.5px;
}
.main .btn .icon {
  color: var(--background-color-icon);
}
.footer .btn {
  min-width: 40%;
  border-color: var(--background-color-orange);
  background-color: var(--background-color-orange);
}

@media (--medium-viewport) {
  .root .main.full {
    top: 192px;
    min-height: calc(100% - 258px);
    padding-bottom: 66px;
  }
  .main .input_search {
    min-width: 60%;
    margin: 0 auto 10px auto;
  }
}

@media (--small-viewport) {
  .root .main.full {
    top: 126px;
    min-height: calc(100% - 186px);
    padding-bottom: 60px;
  }
  .main h1 {
    font-size: var(--font-size-heading-smaller);
  }
  .footer .btn {
    min-width: 70%;
  }
}

  /*
   * Complete page
   * ======================================================================== */
  .root.complete .main.full.has_no_footer {
    top: 152px;
    min-height: calc(100% - 152px);
    padding-bottom: 0px;
  }
  .root.complete.mobile .main.full {
    top: 152px;
    min-height: calc(100% - 276px);
    padding-bottom: 124px;
  }
  .root.complete .main p {
    margin: 10px 0 50px 0;
    font-size: var(--font-size-content-medium);
  }
  .root.complete .main p::nth-last-child(1) {
    margin: 10px 0px 20px 0px;
  }
  .complete .main .btn, .complete .main .btn:hover, .complete .main .btn:focus {
    border-color: var(--background-color-tangerine-button);
    background-color: var(--background-color-tangerine-button);
  }
  @media (--medium-viewport) {
    .root.complete .main.full.has_no_footer {
      top: 192px;
      min-height: calc(100% - 192px);
    }
    .root.complete.mobile .main.full {
      top: 192px;
      min-height: calc(100% - 258px);
      padding-bottom: 66px;
    }
  }
  @media (--small-viewport) {
    .root.complete .main.full.has_no_footer {
      top: 126px;
      min-height: calc(100% - 126px);
    }
    .root.complete.mobile .main.full {
      top: 126px;
      min-height: calc(100% - 186px);
      padding-bottom: 60px;
    }
    .root.complete .main .container {
      padding: 0px;
    }
    .root.complete .main p {
      margin: 10px 0 20px 0;
      font-size: var(--font-size-content-normal);
    }
  }
  @media (--smallest-viewport) {
    .root.complete.mobile .main.full {
      top: 159px;
      min-height: calc(100% - 219px);
      padding-bottom: 60px;
    }
  }

  /*
   * Finished page
   * ======================================================================== */
  .root.finished .main.full.has_no_footer {
     top: 146px;
     min-height: calc(100% - 146px);
     padding-bottom: 0px;
  }
  .root.finished.mobile .main.full.has_no_footer {
     top: 152px;
     min-height: calc(100% - 276px);
     padding-bottom: 124px;
  }

  @media (--medium-viewport) {
    .root.finished.mobile .main.full.has_no_footer {
      top: 146px;
      min-height: calc(100% - 212px);
    }
  }
  @media (--small-viewport) {
    .root.finished .main.full.has_no_footer {
      top: 93px;
      min-height: calc(100% - 93px);
    }
    .root.finished.mobile .main.full.has_no_footer {
      top: 93px;
      min-height: calc(100% - 153px);
      padding-bottom: 60px;
    }
  }