@import '../../components/variables.css';

.root .main {
  padding-top: 118px;
  display: flex;
}
.root .social {
  position: fixed;
  left: 0px;
  z-index: var(--top-layer);
}
.root .social a {
  display: block;
  margin: 0px;
}
.root .details {
  width: 60%;
}
.root .map_container {
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: calc(100% - 118px);
  width: 40%;
}
.slider {
  background-color: var(--background-color-normal);
}
.foursquare_logo {
  height: 32px;
}
.address {
  margin: 40px 0;
  background-color: var(--background-color-white);
}
.report_item span, .address p, .another p,  .another .btn {
  font-size: var(--font-size-content-medium);
}
.another .btn:hover {
  font-weight: 100;
  letter-spacing: -0.1px;
}
.address p {
  display: inline-flex;
  width: 50%;
  margin: 0px;
  padding: 20px;  
}
.address p:nth-last-child(2n+1) {
  justify-content: flex-start;
}
.address p:nth-last-child(2n) {
  justify-content: flex-end;  
}
.address p i {
  margin-right: 10px;
}
.quality h2 {
  margin: 40px 0;
  font-weight: bold;
  color: var(--background-color-tangerine);
}
.report {
  display: flex;
  justify-content: space-around;
  margin: 0 50px 20px 50px;
}
.report .report_item {
  display: flex;
}
.another {
  margin: 0 0 40px 0;
}
.info_title {
  padding: 30px 0 30px 0;
  background-image: var(--background-color-guess);
}
.info_title h2 {
  padding: 20px 0 20px 0;
  background-color: var(--background-color-card);
}
.info {
  padding: 80px 50px 50px 50px;
  background-image: var(--background-color-guess-continue);
}
.info .info_item {
  display: flex;
  align-items: center;
  width: 60%;
}
.info .info_item:nth-last-child(2n) {
  margin: 80px 50px 0 50px;
}
.info .info_item:first-child {
  margin: 0px 50px 0 50px;
}
.info .info_item:nth-last-child(2n+1) {
  margin: 80px 50px 0px calc(40% - 100px);
}
.info_item .string {
  font-size: var(--font-size-content-medium);
  color: var(--font-color-normal);
}
.info_item .icon i {
  font-size: var(--font-size-heading-larger);
  margin-right: 15px;
}

@media (--medium-viewport) {
  .address {
    margin: 10px 0;
  }
  .report_item span, .address p, .another p,  .another .btn {
    font-size: var(--font-size-content-small);
  }
  .address p {
    padding: 10px;
  }
  .quality h2 {
    margin: 20px 0;
    font-size: var(--font-size-content-medium);
  }
  .report {
    display: block;
  }
  .another {
    margin: 0 0 20px 0
  }
  .info_title h2 {
    padding: 10px 0 10px 0;
  }
  .info {
    padding: 25px 10px 10px 10px;
  }
  .info .info_item {
    width: 70%;
  }
  .info .info_item:nth-last-child(2n) {
    margin: 25px 10px 0 10px;
  }
  .info .info_item:first-child {
    margin: 0px 10px 0 10px;
  }
  .info .info_item:nth-last-child(2n+1) {
    margin: 25px 10px 0px calc(30% - 20px);
  }
  .info_item .string {
    font-size: var(--font-size-content-smaller);
  }
  .info_item .icon i {
    font-size: var(--font-size-content-larger);
  }
}

@media (--small-viewport) {

}

.mobile .main {
  display: block;
  padding-bottom: 60px;
}
.mobile .footer .btn {
  width: 90%;
}