@import '../../components/variables.css';

.main h1 {
  font-size: var(--font-size-heading-larger);
}
.btn .icon {
  font-size: var(--icon-size-large);
}
.btn:hover .icon {
  -webkit-text-fill-color: var(--font-color-normal);
}